th, td {
  border: 1px solid deeppink;
  margin: 0;
}

tr:first-child {
  background-color: mediumaquamarine;
}

tr:nth-child(even) {
  background-color: lightpink;

}

table {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
