<button style="visibility: hidden"> Details</button>
<table>
  <tr>
    <th>Name</th>
    <th>Keywords</th>
    <th>Topics</th>
    <th>Abstract</th>
    <th>Paper</th>
    <th>ListOfAuthors</th>
<!--    <th></th>-->
<!--    <th></th>-->
  </tr>
  <tr *ngFor="let proposal of proposals"
      [class.selected]="proposal===selectedProposal">
    <td> {{proposal.proposalName}}</td>
    <td> {{proposal.keyWords}}</td>
    <td> {{proposal.topics}}</td>
    <td><a href="http://localhost:8080/downloadFile/{{proposal.abstractFileName}}">{{proposal.abstractFileName}}</a> <button (click)="updateFile(proposal.id ,'abstract')"
                                             class="btn btn-primary">
      Upload Abstract
    </button></td>
    <td><a href="http://localhost:8080/downloadFile/{{proposal.paperFileName}}"> {{proposal.paperFileName}}</a> <button (click)="updateFile(proposal.id, 'paper')"
                                           class="btn btn-primary">
      Upload Paper
    </button></td>
    <td>{{proposal.listOfAuthors}}</td>
<!--    <td> <button (click)="deleteProposal(proposal.id)"-->
<!--                 class="btn btn-primary">-->
<!--      Delete Proposal-->
<!--    </button></td>-->
<!--    <td><a href="/proposals/update-proposal/{{proposal.id}}">Update Proposal</a></td>-->
  </tr>
</table>
