<button style="visibility: hidden"> Details</button>
<table>
  <tr>
    <th>Name</th>
    <th>Keywords</th>
    <th>Topics</th>
    <th>Abstract</th>
    <th>Paper</th>
    <th>ListOfAuthors</th>
    <ng-container *ngIf="(reviewerShow()  && isBeforeDeadline('bidding'))">
      <th></th>
      <th></th>
    </ng-container>
    <ng-container *ngIf="(reviewerShow()  && !isBeforeDeadline('bidding'))">
    <th></th>
    </ng-container>
    <ng-container *ngIf="chairShow()">
      <th></th>
    </ng-container>
<!--    <th></th>-->
<!--    <th></th>-->
  </tr>
  <tr *ngFor="let proposal of proposals"
      [class.selected]="proposal===selectedProposal">
    <td> {{proposal.proposalName}}</td>
    <td> {{proposal.keyWords}}</td>
    <td> {{proposal.topics}}</td>
    <td><a href="http://localhost:8080/downloadFile/{{proposal.abstractFileName}}">{{proposal.abstractFileName}}</a>
    <ng-container *ngIf="(authorShow() && isBeforeDeadline('abstracts'))">
      <button (click)="updateFile(proposal.id ,'abstract')"
              class="btn btn-primary">
        Upload Abstract

      </button>
    </ng-container>
    </td>
    <td><a href="http://localhost:8080/downloadFile/{{proposal.paperFileName}}"> {{proposal.paperFileName}}</a>
      <ng-container *ngIf="(authorShow() && isBeforeDeadline('papers'))">
      <button (click)="updateFile(proposal.id, 'paper')"
                                           class="btn btn-primary">
      Upload Paper
    </button>
      </ng-container></td>
    <td>{{proposal.listOfAuthors}}</td>
    <ng-container *ngIf="(reviewerShow()  && isBeforeDeadline('bidding'))">
      <td> <button (click)="bidProposal(proposal.id)"
                   class="btn btn-primary">
        Accept Paper
      </button></td>
      <td> <button (click)="refuseProposal(proposal.id)"
                   class="btn btn-primary">
        Refuse Paper
      </button></td>
    </ng-container>
    <ng-container *ngIf="(reviewerShow()  && !isBeforeDeadline('bidding'))">
      <td><button (click)="reviewProposal(proposal.id)"
                  class="btn btn-primary">
        Review Paper
      </button></td>
    </ng-container>
    <ng-container *ngIf="chairShow()">
      <td>
        <ng-container *ngFor="let review of proposal.reviews">[ReviewerID: {{review.id}}, grade: {{this.reviewGrade(review.grade)}}]</ng-container>
      </td>
    </ng-container>

<!--    <td> <button (click)="deleteProposal(proposal.id)"-->
<!--                 class="btn btn-primary">-->
<!--      Delete Proposal-->
<!--    </button></td>-->
<!--    <td><a href="/proposals/update-proposal/{{proposal.id}}">Update Proposal</a></td>-->
  </tr>
</table>
