<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Author Email </label>
        <input type="text" class="form-control" formControlName="author_email" #author_email />
      </div>
      <div *ngIf="angForm.controls['author_email'].invalid && (angForm.controls['author_email'].dirty || angForm.controls['author_email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['author_email'].errors.required">
          Author Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Author Password</label>
        <input type="text" class="form-control" formControlName="author_password" #author_password />
      </div>
      <div *ngIf="angForm.controls['author_password'].invalid && (angForm.controls['author_password'].dirty || angForm.controls['author_password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['author_password'].errors.required">
          Author Password is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Author Password</label>
        <input type="text" class="form-control" formControlName="author_password_confirm" #author_password_confirm />
      </div>
      <div *ngIf="angForm.controls['author_password_confirm'].invalid && (angForm.controls['author_password_confirm'].dirty || angForm.controls['author_password_confirm'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['author_password_confirm'].errors.required">
          Author Password Confirm is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Author Company </label>
        <input type="text" class="form-control" formControlName="author_company" #author_company />
      </div>
      <div *ngIf="angForm.controls['author_company'].invalid && (angForm.controls['author_company'].dirty || angForm.controls['author_company'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['author_company'].errors.required">
          Business GST Number is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addAuthor(author_email.value,author_password.value,author_password_confirm.value, author_company.value)"
                [disabled]="angForm.pristine || angForm.invalid"
                class="btn btn-primary">
          Register
        </button>
      </div>
    </form>
  </div>
</div>


