<div class="card">
  <div class="card-header">Register Reviewer!</div>
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Email </label>
        <input type="text" class="form-control" formControlName="reviewer_email" #reviewer_email />
      </div>
      <div *ngIf="angForm.controls['reviewer_email'].invalid && (angForm.controls['reviewer_email'].dirty || angForm.controls['reviewer_email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['reviewer_email'].errors.required">
          {{this.setColorRed('email')}}
        </div>
      </div>
      <div *ngIf="angForm.controls['reviewer_password'].dirty && angForm.controls['reviewer_password'].valid">{{this.setColorGreen('password')}}</div>

      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="password" class="form-control" formControlName="reviewer_password" #reviewer_password />
      </div>
      <div *ngIf="angForm.controls['reviewer_password'].invalid && (angForm.controls['reviewer_password'].dirty || angForm.controls['reviewer_password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['reviewer_password'].errors.required">

          {{this.setColorRed('password')}}
        </div>
      </div>
      <div *ngIf="angForm.controls['reviewer_password'].dirty && angForm.controls['reviewer_password'].valid">{{this.setColorGreen('password')}}</div>

      <div class="form-group">
        <label class="col-md-4">Confirm Password</label>
        <input type="password" class="form-control" formControlName="reviewer_password_confirm" #reviewer_password_confirm />
      </div>
      <div *ngIf="angForm.controls['reviewer_password_confirm'].invalid && (angForm.controls['reviewer_password_confirm'].dirty || angForm.controls['reviewer_password_confirm'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['reviewer_password_confirm'].errors.required">
          {{this.setColorRed('check')}}
        </div>
      </div>
      <div *ngIf="angForm.controls['reviewer_password_confirm'].value === angForm.controls['reviewer_password'].value && angForm.controls['reviewer_password_confirm'].dirty; else red">
        {{this.setColorGreen('check')}}
      </div>
      <ng-template #red><div *ngIf="angForm.controls['reviewer_password_confirm'].dirty">{{this.setColorRed('check')}}</div></ng-template>
      <div class="form-group">
        <label class="col-md-4">Company </label>
        <input type="text" class="form-control" formControlName="reviewer_company" #reviewer_company />
      </div>
    <div *ngIf="angForm.controls['reviewer_company'].invalid && (angForm.controls['reviewer_company'].dirty || angForm.controls['reviewer_company'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['reviewer_company'].errors.required">
        {{this.setColorRed('company')}}
      </div>
    </div>
    <div *ngIf="angForm.controls['reviewer_company'].dirty && angForm.controls['reviewer_company'].valid">{{this.setColorGreen('company')}}</div>
      <div class="form-group">
        <button (click)="addReviewer(reviewer_email.value,reviewer_password.value,reviewer_password_confirm.value,reviewer_company.value)"
                [disabled]="angForm.pristine || angForm.invalid"
                class="btn btn-primary">
          Register
        </button>
      </div>
    </form>
  </div>
</div>


